[core]
  excludesfile = ~/.gitignore_global
[pager]
  branch = false
[submodule]
  recurse = true
  fetchJobs = 0

[user]
  name = {{ developer_name }}
  email = {{ developer_email }}

# Colors
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = white bold 52
  newNormal = green bold
  newHighlight = white bold 22
[color "diff"]
  meta = black
  frag = blue bold
  commit = black bold
  old = red bold
  new = green bold
  whitespace = red reverse
