{
    "advertise_addr" : "{{ private_network.address }}",
    "client_addr": "0.0.0.0",
    "data_dir": "/consul/data",
    "datacenter": "{{ consul.datacenter|default('develop') }}",
    "node_name": "{{ consul.node }}",
{% if consul.server %}
{% set current_host = [ansible_hostname] %}
    "bootstrap_expect": {{ groups['service-discovery']|length }},
{% if groups['service-discovery']|difference(current_host)|length > 0 %}
    "retry_join": [{% for host in groups['service-discovery']|difference(current_host) %}"{{ hostvars[host]['private_network']['address'] }}"{% if not loop.last %}, {% endif %}{% endfor %}],
{% endif %}
    "server": true,
    "ui": true,
{% else %}
    "retry_join": [{% for host in groups['service-discovery'] %}"{{ hostvars[host]['private_network']['address'] }}"{% if not loop.last %}, {% endif %}{% endfor %}],
{% endif %}
    "leave_on_terminate": true,
    "skip_leave_on_interrupt": true,
    "disable_update_check": true,
{% if consul.encrypt|default(false) %}
    "encrypt": "{{ consul.encrypt }}",
{% endif %}
    "log_level": "warn"
}
