---

version: '3.3'

volumes:
  data:

networks:
  {{ consul.container.network }}:
    external: true

services:
  server:
    container_name: {{ consul.container.name }}
    image: {{ consul.container.image }}
    command: consul agent -config-file /etc/consul/config.json -config-dir /etc/consul/conf.d
{% if env != 'develop' %}
    logging:
      driver: syslog
      options:
        syslog-address: "unixgram:///dev/log"
        tag: consul
{% endif %}
    networks:
      - {{ consul.container.network }}
    ports:
      - {{ private_network.address }}:8300:8300
      - {{ private_network.address }}:8301:8301
      - {{ private_network.address }}:8301:8301/udp
      - {{ private_network.address }}:8302:8302
      - {{ private_network.address }}:8302:8302/udp
      - {{ private_network.address }}:8400:8300
      - {{ private_network.address }}:8500:8500
      - {{ private_network.address }}:8600:8600/udp
    restart: {{ consul.container.restart }}
    stop_signal: SIGINT
    volumes:
      - ./:/etc/consul
      - data:/consul/data

{% if consul.server and consul.exporter.enabled %}
  exporter:
    container_name: {{ consul.exporter.container.name }}
    image: {{ consul.exporter.container.image }}
    dns: {{ consul.exporter.container.dns }}
    command: --consul.server={{ private_network.address }}:8500
{% if env != 'develop' %}
    logging:
      driver: syslog
      options:
        syslog-address: "unixgram:///dev/log"
        tag: consul_exporter
{% endif %}
    ports:
      - {{ consul.exporter.host }}:{{ consul.exporter.port }}:9107
    restart: {{ consul.exporter.container.restart }}
{% endif %}
