---

version: '3.3'

{% if env != 'develop' %}
networks:
  postgresql:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.1.0.0/24
{% endif %}

{% if env == 'develop' %}
volumes:
  data:
{% endif %}

services:
{% if env == 'develop' %}
  server:
    container_name: {{ postgresql.container.name }}
    image: {{ postgresql.container.image }}
    ports:
      - "{{ postgresql.host }}:{{ postgresql.port }}:5432"
    restart: {{ postgresql.container.restart }}
    volumes:
      - data:/var/lib/postgresql
{% endif %}

{% if postgresql.exporter.enabled %}
  exporter:
    container_name: {{ postgresql.exporter.container.name }}
    image: {{ postgresql.exporter.container.image }}
    dns: {{ postgresql.exporter.container.dns }}
    env_file: .env
{% if env != 'develop' %}
    logging:
      driver: syslog
      options:
        syslog-address: "unixgram:///dev/log"
        tag: postgres_exporter
    networks:
      - postgresql
{% endif %}
    ports:
      - "{{ postgresql.exporter.host }}:{{ postgresql.exporter.port }}:9187"
    restart: {{ postgresql.exporter.container.restart }}
    volumes:
      - ./queries.yaml:/opt/services/postgresql/queries.yaml
{% endif %}
