---

version: '3.3'

networks:
  {{ wallet.container.network }}:
    external: true

services:
  server:
    image: {{ wallet.image }}
    dns: {{ private_network.address }}
    env_file: .env
    networks:
      - {{ wallet.container.network }}
{% if env != 'develop' %}
    logging:
      driver: syslog
      options:
        syslog-address: "unixgram:///dev/log"
        tag: wallet
{% endif %}

    deploy:
      mode: replicated
      replicas: {{ wallet.replicas }}
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 64M
      update_config:
        parallelism: 1
        failure_action: rollback
        delay: 30s
      restart_policy:
        condition: any
        delay: 5s
        window: 120s
