---

version: '3.3'

networks:
  {{ loadbalancer.container.network }}:
    external: true

services:
  server:
    build: ./
    image: {{ loadbalancer.container.image }}
    container_name: {{ loadbalancer.container.name }}
    hostname: {{ ansible_host }}
    dns: {{ loadbalancer.container.dns }}
{% if env != 'develop' %}
    logging:
      driver: syslog
      options:
        syslog-address: "unixgram:///dev/log"
        tag: loadbalancer
{% endif %}
    networks:
      - {{ loadbalancer.container.network }}
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
    restart: {{ loadbalancer.container.restart }}
    volumes:
      - ./consul-templates:/etc/consul-templates
      - ./conf.d:/etc/nginx/conf.d
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./service:/etc/service
{% if env != 'develop' %}
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www:/var/www
{% endif %}
